.summary {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(to bottom left,  #f2e93c, #faf374);
}

.summary h1 {
  margin: 0;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(89, 139, 118, 0.5);
  color: white;
}

@media (min-width: 768px) {
  .summary h1 {
    font-size: 3.2rem;
  }
}